<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../image_label_tool/prelude/struct.AddImageButton.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../image_label_tool/prelude/struct.AddImageButton.html">../../../image_label_tool/prelude/struct.AddImageButton.html</a>...</p>
    <script>location.replace("../../../image_label_tool/prelude/struct.AddImageButton.html" + location.search + location.hash);</script>
</body>
</html>